body {
  background-color: #a4d3da !important;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  padding: 0;
}

.tile {
  margin: 2px
}

.tiles {
  align-items: center;
  margin: 0;
}

.tile-btn {
  padding: 0;
  border: none;
}

